<div class="row">
  <div class="col-md-12 ">
    <div class="pull-right">
      <% if @channel.can?(:edit_channel, :manage_channel, :manage_roles) %>
          <%= show_button(new_channel_report_url(@channel), ' Add Report', 'play-circle', 'info')  %>
      <% end %>

      <% if @channel.user_id == User.current.id && !@channel.is_public? && !@channel.is_personal? %>
          <%= show_button(manage_users_channel_path(@channel), ' Manage Users', 'play-circle', 'default') %>
      <% end %>

      <% if @channel.user_id == User.current.id %>
          <%= edit_button edit_channel_path(@channel) %>
      <% end %>

      <% if @channel.can?(:delete_channel, :manage_channel, :manage_roles) and (@channel.user_id == User.current.id or @channel.can?(:manage_roles))%>
          <%= delete_button channel_path(@channel) %>
      <% end %>

      <%= cancel_button channels_path %>
    </div>
  </div>
</div>

   