<div class="row">
  <div class="col-md-12 ">
    <div class="pull-right buttons">
      <% unless @channel.shared_report? %>
          <% if @channel.is_group? && !@channel.is_creator? %>
              <%= show_theme_button(leave_channel_channel_channel_permissions_path(@channel), ' Leave Channel', 'fas fa-sign-out-alt', 'danger', {confirm: "Do you want to leave the Channel: #{@channel.name} ?"})  %>
          <% end %>

          <% if @channel.is_group? && (@channel.is_creator? || @channel.channel_permissions.where(channel_permissions: {user_id: User.current.id, can_add_users: true}).present?) %>
              <%= show_theme_button('#', "Notifications (#{@channel.channel_notifications.where(seen: false).count})", 'far fa-bell', 'info', {toggle:"modal", target:"#ChannelNotification", id: "notification_btn"}) %>

              <div data-toggle="modal" class="modal fade" id="ChannelNotification" tabindex="-1" role="dialog" aria-labelledby="ChannelNotification">
                <div data-toggle="modal" class="modal-dialog" role="document">
                  <div data-toggle="modal" class="modal-content">
                    <div data-toggle="modal" class="modal-header">
                      <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
                      <h4 class="modal-title" id="myModalLabel">Notification</h4>
                    </div>
                    <div id="files" class="files col-xs-12" ></div>
                    <div id="errors" style="color: red;" class="files col-xs-12" ></div>
                    <div data-toggle="modal" class="modal-body">
                      <table class="table table-separate table-head-custom">
                        <thead>
                        <tr><th>User</th><th>Notification Type</th><th></th></tr>
                        </thead>
                        <tbody>
                        <% @channel.channel_notifications.where(seen: false).each do |cn|%>
                            <tr id="channel_notification_<%= cn.id %>">
                              <td> <%= cn.user.to_s %>   </td>
                              <td>
                                <% if cn.notification_type == 1 %>
                                    Left Channel
                                <% else %>
                                    Request
                                <% end %>
                              </td>

                              <td class="display-contents">
                                <% if cn.notification_type == 1 %>
                                    <%= show_button edit_channel_channel_notification_path(@channel, cn), '', 'check', 'info', {remote: true}  %>
                                <% else %>
                                  <div class="padding-top-5">
                                    <%= show_button '#',  'Accept', 'check', 'success', {toggle:"modal", target:"#AddPermissionModal#{cn.user_id}" }%>
                                    <%= link_to 'Reject Request', channel_channel_notification_path(@channel, cn), class: 'btn btn-warning', data: {method: :delete} %>
                                  </div>
                                <% end %>
                              </td>
                            </tr>
                        <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <% @channel.channel_notifications.where(notification_type: ChannelNotification::REQUEST).each do |cn|%>
                  <%= render partial: 'channel_permissions/permission_modal', locals: {user_id: cn.user_id, channel: @channel, permission: ChannelPermission.new} %>
              <% end %>
          <% end %>

          <% if !@channel.is_public? && !@channel.is_personal? && (@channel.is_creator? or @channel.my_permission.can_add_users?) %>
              <%= show_theme_button(channel_channel_permissions_path(@channel), ' Permissions', 'fas fa-cog', 'warning')  %>
          <% end %>

          <% if @channel.is_public? || @channel.is_creator? || (!@channel.is_public? && !@channel.is_personal? && @channel.my_permission.can_manage_multi_dataset_dashboard?) %>
              <%= show_button(new_channel_multi_data_set_dashboard_url(@channel), 'Add multi Data Set Dashboard', 'fa fa-plus', 'success', '', pivot_table_reports?(@channel)) if display_multi_data_set_dashboard? %>
          <% end %>

          <% if @channel.is_public? or @channel.is_creator? or (@channel.is_group? && @channel.my_permission.can_add_edit_data_set?) %>
              <%= show_theme_button(new_channel_report_url(@channel), ' Add Data set', 'fas fa-clipboard-check', 'info')  %>
          <% end %>

          <% if @channel.is_creator? or @channel.my_permission.can_edit? %>
              <%= edit_button edit_channel_path(@channel) %>
          <% end %>

          <% if @channel.is_creator?  %>
              <%= delete_button channel_path(@channel), 'Channel', @channel.name %>
          <% end %>
      <% end %>

      <%= cancel_button root_path %>
    </div>
  </div>
</div>

