<div class="row d-flex">
  <% if reports.present? %>
    <% reports.each do |report| %>
      <div class="col-3">
        <a href="<%=  channel_report_path(@channel, report) %>" id="report_check">
        <!--begin::Card-->
        <div class="box-shadow bg-color-lighten card card-custom card-stretch gutter-b">
          <!--begin::Body-->
          <div class="card-body py-4" draggable="<%= is_all == 'yes' ? "false" : "true"  %>" ondragstart="dragevent(event,<%= report.id %>,<%= report.channel_enum_id%>)">
            <!--begin::User-->
            <div class="row">
              <!--begin::Pic-->
              <div class="col-6 p-0">
                <div class="symbol symbol-lg-75">
                  <% name = JSON.parse(report&.save_pivot_tables&.first&.content)["rendererName"].downcase rescue nil %>
                  <% if (name && name.include?('table')) %>
                      <%= image_tag "pivot/table.png", size: '220x220', draggable:false %>
                  <% elsif (name && name.include?('heatmap')) %>
                      <%= image_tag "pivot/heatmap.png", size: '220x220', draggable:false %>
                  <% elsif name %>
                      <%= image_tag "pivot/#{name.gsub(' ', '-')}.png" , size: '220x220' %>
                  <% else %>
                    <%= image_tag "dashboard.png", size: '220x220', draggable:false %>
                  <% end %>
                </div>
              </div>
              <!--end::Pic-->
              <!--begin::Title-->
              <div class="col-6 p-0 d-flex align-items-center">
                <span class="text-dark font-weight-bold font-size-h4 mb-0 text-truncate" title="<%= report.name %>"><%= report.name %> </span>
              </div>
              <!--end::Title-->
            </div>
            <!--end::User-->
            <!--begin::Desc-->
            <div class="row">
              <div class="col-12 p-0 small text-dark" title="<%= report.description.html_safe %>">
                <%= report.description.present? ? report.description.truncate(50).html_safe : '<p>No Description</p>'.html_safe %>
              </div>
            </div>
            <!--end::Desc-->
            <!--begin::Info-->
            <div class="mb-2">
              <div class="row">
                <span class="col-6 p-0 text-dark-75 font-weight-bolder">Updated By: </span>
                <span class="col-6 p-0 text-dark"><%= report.updated_by %></span>
              </div>
              <div class="row">
                <span class="col-6 p-0 text-dark-75 font-weight-bolder">Updated At:</span>
                <span class="col-6 p-0 text-dark"><%= format_date_time report.updated_at %></span>
              </div>
              <% if @channel.is_personal? %>
                <div class="row">
                    <span class="col-6 p-0 text-dark-75 font-weight-bolder">Shared: </span>
                    <span class="col-6 p-0"><p class="text-dark mb-0"><%= report.shared_reports.where.not(user_id: User.current.id).present? %></p></span>
                </div>
              <% end %>
            </div>
          <!--end::Body-->
          </div>
        <!--end:: Card-->
        </div>
        </a>
      </div>
    <% end %>
  <% else %>
    <div class="mx-3 w-100 alert alert-custom alert-notice alert-light-primary show d-flex" role="alert">
      <div class="alert-icon"><i class="fas fa-exclamation-triangle"></i></div>
      <div class="alert-text">No data set to display!</div>
    </div>
  <% end %>
</div>

<script>
  function dragevent(ev,id,channel_enum) {
    ev.dataTransfer.setData("text", id);
    ev.dataTransfer.setData("status", 'report');
    type = 'dataset'
    current_dataset_tab = channel_enum
  }
</script>
