
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-All-tab" data-toggle="pill" href="#All_Reports" role="tab" aria-controls="pills-All" aria-selected="true">All</a>
  </li>
    <%ReportEnum.all.each do |reportEnum|%>
    <li class="nav-item">
      <a class="nav-link" id="pills-<%=reportEnum.id%>-tab" data-toggle="pill" href="#<%=reportEnum.id%>" role="tab" aria-controls="pills-<%=reportEnum.id%>" aria-selected="true" ondrop = "drop_report(event,<%=reportEnum.id%>)" ondragover="allowDrop_report(event)"><%=reportEnum.name%></a>
    </li>
    <% end %>
</ul>

<div class="tab-content" id="pills-tabContent" >

    <div class="tab-pane active" id="All_Reports" role="tabpanel" aria-labelledby="pills-All-tab" >
      <%= render partial: 'data_set_content', locals: { reports: @reports} %>
    </div>
    <%ReportEnum.all.each do |reportEnum|%>
    <div class="tab-pane" id="<%=reportEnum.id%>" role="tabpanel" aria-labelledby="pills-<%=reportEnum.id%>-tab">
      <%= render partial: 'data_set_content', locals: { reports: @reports.where(report_enum_id: reportEnum)} %>
    </div>
    <%end%>

</div>
<script type="text/javascript">
function allowDrop_report(ev) {
  ev.preventDefault();
}

document.addEventListener("dragenter", function(event) {
  if ( event.target.className == "nav-link" ) {
    event.target.style.backgroundColor = "#1BC5BD";
    event.target.style.color = "white"
  }
});
document.addEventListener("dragleave", function(event) {
  if ( event.target.className == "nav-link" ) {
    event.target.style.backgroundColor = "white";
    event.target.style.color = "#B5B5C3"
  }
});
function drop_report(ev,newPos) {
  event.target.style.backgroundColor = "#1BC5BD";
  event.target.style.color = "white"
  $("a[class='nav-link active']").css("color","#B5B5C3")
  $("a[class='nav-link active']").css("backgroundColor","white");

  var previousPos = ev.dataTransfer.getData("text");
  console.log(previousPos)
  $.ajax({
      url:  window.location.pathname+"?previous_report_position="+previousPos+"&new_report_position="+newPos+"&filter_report="+"Report",
      dataType: "script",
      cache: true
    });
  location.reload()
}
</script>
