<div class="card card-custom gutter-b mt-5">
 <div class="card-body">
  <%= render partial: 'action_menu' %>
   <div class="row mt-5">
      <div class="col-6 data_title" title="<%= @channel.name %>">
        <strong>Channel :</strong>
        <%= @channel.name.truncate(35) %>
      </div>

      <div class="col-6 d-flex ">
        <strong style="width:88px !important;">Description :</strong>
        <div class="w-75 data_title" title ="<%= @channel.description.html_safe %>">
          <%= @channel.description.truncate(50).html_safe%>
        </div>
      </div>

      <div class="col-6">
        <strong>Owned by:</strong>
        <%= @channel.user %> at <%= format_date_time @channel.created_at %>
      </div>
      <div class="col-6">
        <strong>Last update :</strong>
        <%= @channel.updated_by %> at <%= format_date_time @channel.updated_at %>
      </div>
   </div>
 </div>
</div>

<section id="widget-grid" class="channel">
  <div class="row mb-5">
    <article class="col-xs-12">
      <%= render partial: 'show',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     wid_id: 'channel',
                     wid_title: 'Data sets',
                     channel: @channel
                 } %>
    </article>
  </div>

  <div class="row">
    <article class="col-xs-12">
      <%= render partial: 'multi_data_set_dashboard',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     wid_id: 'channel_dashboard',
                     wid_title: 'Multi Data Set Dashboards',
                     channel: @channel
                 } %>
    </article>
  </div>
</section>
<script>
  var type = ""
</script>
<%= will_paginate @reports, renderer: BootstrapPagination::Rails, class: 'pull-right'%>
