
<div class="row">
  <div class="col-xs-12 col-md-8">

    <fieldset>
      <legend>
      </legend>
      <%= form_for(@address, url: url,  html: {  class: 'form-horizontal' }) do |f| %>
          <% if @address.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@address.errors.count, "error") %> prohibited this education from being saved:</h2>

                <ul>
                  <% @address.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>
          <%= render partial: 'extend_demographies/address_fields',
                     locals: {f: f} %>


          <div class="form-group" >
            <div class="col-md-10">
              <%= link_to t('button_cancel'), @url_back, class: 'btn btn-warning pull-right' %>
              <%= f.submit t('button_save'), class: 'btn btn-success pull-right' %>
            </div>
          </div>
      <% end %>

    </fieldset>
  </div>
  <div class="col-xs-12 col-md-4">
    <%= render partial: 'map', locals: {
        location: 'address_address',
        location_lat: 'address_location_lat',
        location_long: 'address_location_long',
        object: @address

    } %></div>
</div>