
<div data-toggle="modal" class="modal fade" id="<%= "AddPermission#{idx}Modal" %>" tabindex="-1" role="dialog" aria-labelledby="<%= "AddPermission#{idx}Modal" %> ">
  <div data-toggle="modal" class="modal-dialog" role="document">
    <div data-toggle="modal" class="modal-content">
      <div data-toggle="modal" class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Permission for <%= permission.user %></h4>
      </div>
      <div id="files" class="files col-xs-12" ></div>
      <div id="errors" style="color: red;" class="files col-xs-12" ></div>
      <%= form_for([@channel, permission],  remote: true, html: { class: 'smart-form form-horizontal ', method: :patch}) do |f| %>
          <div data-toggle="modal" class="modal-body">
            <fieldset>
              <div class="form-group">
                <%= f.label 'Permission', class: 'col-md-2 control-label' %>
                <div class="col-md-9">
                  <label class="toggle">
                    <%= f.check_box :can_view , id: 'can_view_permission_edit'%>
                    <i data-swchon-text="ON" data-swchoff-text="OFF"></i> Can View Channel
                  </label>

                  <label class="toggle">
                    <%= f.check_box :can_edit %>
                    <i data-swchon-text="ON" data-swchoff-text="OFF"></i> Can Edit Channel
                  </label>

                  <label class="toggle">
                    <%= f.check_box :can_add_report %>
                    <i data-swchon-text="ON" data-swchoff-text="OFF"></i> Can Add/Edit Report
                  </label>

                  <label class="toggle">
                    <%= f.check_box :can_view_report %>
                    <i data-swchon-text="ON" data-swchoff-text="OFF"></i> Can View Report
                  </label>

                  <label class="toggle">
                    <%= f.check_box :can_delete_report %>
                    <i data-swchon-text="ON" data-swchoff-text="OFF"></i> Can Delete Data Set
                  </label>

                  <label class="toggle">
                    <%= f.check_box :can_add_users %>
                    <i data-swchon-text="ON" data-swchoff-text="OFF"></i>  Can Add/Change permission
                  </label>

                  <label class="toggle">
                    <%= f.check_box :can_download %>
                    <i data-swchon-text="ON" data-swchoff-text="OFF"></i> Can Download File
                  </label>

                  <label class="toggle">
                    <%= f.check_box :can_manage_multi_dataset_dashboard %>
                    <i data-swchon-text="ON" data-swchoff-text="OFF"></i> Can Manage MultiDataSet Dashboard
                  </label>

                  <label class="toggle">
                    <%= f.check_box :can_manage_dashboard %>
                    <i data-swchon-text="ON" data-swchoff-text="OFF"></i> Can Manage Dashboard
                  </label>

                  <label class="toggle">
                    <%= f.check_box :can_shared_report_with_dashboard %>
                    <i data-swchon-text="ON" data-swchoff-text="OFF"></i> Can Share Report with Dashboard
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <div data-toggle="modal" class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.submit 'Save', class: 'btn btn-primary',:onclick => "return validateform()" %>
          </div>
          </div>

      <% end %>
      </div>
</div>
