<table class="table table-responsive table-hover" id="permissions_table">
  <thead>
  <tr>
    <th>User</th>
    <th> Can View Channel</th>
    <th> Can Edit Channel </th>
    <th> Can Add/Edit Report </th>
    <th> Can View Report </th>
    <th> Can Delete Data Set </th>
    <th> Can Add/Change Permission </th>
    <th> Can Download File </th>
    <th> Can Manage MultiDataSet Dashboard </th>
    <th> Can Manage Dashboard </th>
    <th> Can Share Report with Dashboard </th>
    <th> Edit </th>
    <th> Delete </th>
  </tr>
  </thead>
  <tbody>
  <% permissions.each_with_index do |permission, idx| %>
      <% next if permission.user.nil? %>
      <tr>
        <td><%=  permission.user.to_s.strip.presence || permission.user&.email %></td>
        <td><i class="fa fa-<%=  permission.can_view? ? 'check' : 'times' %>"></i></td>
        <td><i class="fa fa-<%=  permission.can_edit? ? 'check' : 'times' %>"></i></td>
        <td><i class="fa fa-<%=  permission.can_add_report? ? 'check' : 'times' %>"></i></td>
        <td><i class="fa fa-<%=  permission.can_view_report ? 'check' : 'times' %>"></i></td>
        <td><i class="fa fa-<%=  permission.can_delete_report? ? 'check' : 'times' %>"></i></td>
        <td><i class="fa fa-<%=  permission.can_add_users? ? 'check' : 'times' %>"></i></td>
        <td><i class="fa fa-<%=  permission.can_download? ? 'check' : 'times' %>"></i></td>
        <td><i class="fa fa-<%=  permission.can_manage_multi_dataset_dashboard? ? 'check' : 'times' %>"></i></td>
        <td><i class="fa fa-<%=  permission.can_manage_dashboard? ? 'check' : 'times' %>"></i></td>
        <td><i class="fa fa-<%=  permission.can_shared_report_with_dashboard? ? 'check' : 'times' %>"></i></td>
        <td>
          <%= link_to  '#', data: {toggle:"modal", target:"#AddPermission#{idx}Modal" } do
            "<i class='fa fa-edit' aria-hidden='true'>  </i>".html_safe
          end unless @channel.user_id == permission.user_id %>
          <%= render partial: 'edit_permission', locals: {permission: permission, idx: idx} %>
        </td>
        <td><%= delete_link(channel_channel_permission_url(@channel, permission)) unless @channel.user_id == permission.user_id %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<script>
  $(document).on('turbolinks:load', function(){
    $('#permissions_table').dataTable( {
      "order": [],"columnDefs":[
      {"targets": [9,10], "orderable": false}
      ]
    });
  });
  function validateform(){
    var can_view = $("#can_view_permission, #can_view_permission_edit").is(":checked");
    if(!can_view){
      var proceed_flow = confirm("Proceed with can view channel premission 'OFF'?");
      if (!proceed_flow) return false;
    }
  }
</script>
