<div data-toggle="modal" class="modal fade" id="AddPermissionModal<%= user_id %>" tabindex="-1" role="dialog" aria-labelledby="AddPermissionModal<%= user_id %>">
  <div data-toggle="modal" class="modal-dialog" role="document">
    <div data-toggle="modal" class="modal-content">
      <div data-toggle="modal" class="modal-header">
        <h4 class="modal-title text-center" id="userPermissionModalLabel">Add Permission</h4>
      </div>
      <div data-toggle="modal" class="modal-body">
        <%= form_for([channel, permission], method: :post, remote: true, html: { class: 'smart-form form-horizontal', id: 'userPermissionModal', method: :post}) do |f| %>
          <fieldset>
            <div class="form-group">
              <%= f.label 'User', class: 'col-md-2 control-label' %>
              <div class="col-md-9">
                <%= f.select :user_id , options_for_select(User.where.not(id: [channel.user_id] + channel.channel_permissions.pluck(:user_id)).map{|u| [u.name, u.id]},selected:user_id),{include_blank: "Select User"},{class: 'form-control', id: 'userSelect2'}%>
              </div>
            </div>

            <div class="form-group">
              <%= f.label 'Permission', class: 'col-md-2 control-label' %>
              <div class="col-md-9">
                <label class="toggle">
                  <%= f.check_box :can_view, id: 'can_view_permission' %>
                  <i data-swchon-text="ON" data-swchoff-text="OFF"></i> Can View Channel
                </label>

                <label class="toggle">
                  <%= f.check_box :can_edit %>
                  <i data-swchon-text="ON" data-swchoff-text="OFF"></i> Can Edit Channel
                </label>

                <label class="toggle">
                  <%= f.check_box :can_add_report %>
                  <i data-swchon-text="ON" data-swchoff-text="OFF"></i> Can Add/Edit Report
                </label>

                <label class="toggle">
                  <%= f.check_box :can_view_report %>
                  <i data-swchon-text="ON" data-swchoff-text="OFF"></i> Can View Report
                </label>

                <label class="toggle">
                  <%= f.check_box :can_delete_pivot_table %>
                  <i data-swchon-text="ON" data-swchoff-text="OFF"></i> Can Delete Report
                </label>

                <label class="toggle">
                  <%= f.check_box :can_delete_report %>
                  <i data-swchon-text="ON" data-swchoff-text="OFF"></i> Can Delete Data Set
                </label>

                <label class="toggle">
                  <%= f.check_box :can_add_users %>
                  <i data-swchon-text="ON" data-swchoff-text="OFF"></i>  Can Add/Change permission
                </label>

                <label class="toggle">
                  <%= f.check_box :can_download %>
                  <i data-swchon-text="ON" data-swchoff-text="OFF"></i> Can Download File
                </label>

                <label class="toggle">
                  <%= f.check_box :can_manage_multi_dataset_dashboard, id:"can_manage_multi_dataset_dashboard", onchange: "change_add_shared_report()"%>
                  <i data-swchon-text="ON" data-swchoff-text="OFF"></i> Can Manage MultiDataSet Dashboard
                </label>

                <label class="toggle">
                  <%= f.check_box :can_manage_dashboard, id:"can_manage_dashboard", onchange: "change_add_shared_report()"%>
                  <i data-swchon-text="ON" data-swchoff-text="OFF"></i> Can Manage Dashboard
                </label>

                <label class="toggle">
                  <%= f.check_box :can_shared_report_with_dashboard, id:"can_shared_report_with_dashboard",
                    :onchange=>"check_validate_can_manage_dashboard()" %>
                  <i data-swchon-text="ON" data-swchoff-text="OFF"></i> Can Share Report with Dashboard
                </label>
              </div>
            </div>
          </fieldset>
          <div data-toggle="modal" class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.submit 'Save', class: 'btn btn-primary',:onclick => "return validateNewForm()" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).on('turbolinks:load', () => {
    $('#userSelect2').select2({
      dropdownParent: $('#userPermissionModal')
    });
  });
  function change_add_shared_report(){
    var can_manage_dashboard = $("#can_manage_dashboard").is(":checked")
    var can_manage_multi = $("#can_manage_multi_dataset_dashboard").is(":checked")
    if(can_manage_dashboard || can_manage_multi) {
      $('#can_shared_report_with_dashboard').prop('checked',true)
    }
  }
  function check_validate_can_manage_dashboard(){
    var can_manage_dashboard = $("#can_manage_dashboard").is(":checked")
    if(can_manage_dashboard) $('#can_shared_report_with_dashboard').prop('checked',true)
  }
  function validateNewForm() {
    var can_view = $("#can_view_permission").is(":checked");
    if(!can_view){
      var proceed_flow = confirm("Proceed with can view channel premission 'OFF'?");
      if (!proceed_flow) return false;
    }
  }
</script>
