<div class="card card-custom mt-3 mb-4">
<div class="row">
  <div class="col-md-12 mt-5 mb-4 ">
    <div class="pull-right">
      <%= show_button('#', ' Add Permission', 'plus', 'primary', {toggle:"modal", target:"#AddPermissionModal" })  %>

      <%= cancel_button channel_path(@channel) %>

    </div>
         <%= render partial: 'permission_modal', locals: {user_id: params[:user_id], channel: @channel, permission: @permission} %>
<h2>
 <strong style="margin-left: 20px;"> <%= @channel.name %> </strong>
</h2>
  </div>

</div>


</div>

<section id="widget-grid" class="channel">
  <div class="row">
    <article class="col-xs-12">
      <%= render partial: 'permissions',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     wid_id: 'channel',
                     wid_title: 'Permissions',
                     channel: @channel,
                     permissions: permission_sort(@permissions, @channel)
                 } %>
    </article>
  </div>
</section>
