<style>
  a.btn{
    color: white
  }
</style>

<%= simple_form_for([extend_demography.object, extend_demography],  html: {  class: 'form-horizontal' }) do |f| %>
    <% if extend_demography.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(extend_demography.errors.count, "error") %> prohibited this extend_demography from being saved:</h2>

          <ul>
            <% extend_demography.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :department_id %>
    <%= f.hidden_field :contact_id %>
    <%= f.hidden_field :organization_id %>
    <%= f.hidden_field :affiliation_id %>
    <%= f.hidden_field :insurance_id %>
    <%= f.hidden_field :type %>

    <div id="tabs" style="overflow: hidden;">
      <ul>
        <li><a id="link-tabs-emails" href="#tabs-emails">Emails</a></li>
        <li><a id="link-tabs-faxes" href="#tabs-faxes">Faxes</a></li>
        <li><a id="link-tabs-phones" href="#tabs-phones">Phones</a></li>
        <li><a id="link-tabs-social_media" href="#tabs-social_media">Social Media</a></li>
        <li><a id="link-tabs-addresses" href="#tabs-addresses">Addresses</a></li>
      </ul>
      <div id='tabs-emails' style="padding: 1em 0.4em 0em 0.4em">
        <div class="col-xs-12 btn-edition tabs-section">
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-links" role="menu" style="min-width:210px;">
              <li>
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                <%= link_to 'add email', new_extend_demographies_email_path(extend_demography), class: 'dropdown-item' %>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <%= render partial: 'extend_demographies/emails/emails',
                       layout: 'shared/smart_widget_wrapper',
                       locals: {
                           f: f,
                           extend_demography: extend_demography,
                           wid_id: 'email',
                           wid_title: 'Emails'
                       }
            %>
          </article>
        </div>
      </div>

      <div id='tabs-faxes' style="padding: 1em 0.4em 0em 0.4em">
        <div class="col-xs-12 btn-edition tabs-section">
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-links" role="menu" style="min-width:210px;">
              <li>
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                <%= link_to 'add fax number', new_extend_demographies_fax_path(extend_demography), class: 'dropdown-item' %>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <%= render partial: 'extend_demographies/faxes/faxes',
                       layout: 'shared/smart_widget_wrapper',
                       locals: {
                           f: f,
                           extend_demography: extend_demography,
                           wid_id: 'faxes',
                           wid_title: 'Faxes'
                       }
            %>
          </article>
        </div>
      </div>

      <div id='tabs-phones' style="padding: 1em 0.4em 0em 0.4em">
        <div class="col-xs-12 btn-edition tabs-section">
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-links" role="menu" style="min-width:210px;">
              <li>
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                <%= link_to 'add phone', new_extend_demographies_phone_path(extend_demography), class: 'dropdown-item' %>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <%= render partial: 'extend_demographies/phones/phones',
                       layout: 'shared/smart_widget_wrapper',
                       locals: {
                           f: f,
                           extend_demography: extend_demography,
                           wid_id: 'phones',
                           wid_title: 'Phones'
                       }
            %>
          </article>
        </div>

      </div>

      <div id='tabs-social_media' style="padding: 1em 0.4em 0em 0.4em">
        <div class="col-xs-12 btn-edition tabs-section">
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-links" role="menu" style="min-width:210px;">
              <li>
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                <%= link_to 'add Social media', new_extend_demographies_social_medium_path(extend_demography), class: 'dropdown-item' %>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <%= render partial: 'extend_demographies/social_media/social_media',
                       layout: 'shared/smart_widget_wrapper',
                       locals: {
                           f: f,
                           extend_demography: extend_demography,
                           wid_id: 'social_media',
                           wid_title: 'Social media'
                       }
            %>
          </article>
        </div>

      </div>

      <div id='tabs-addresses' style="padding: 1em 0.4em 0em 0.4em">
        <div class="col-xs-12 btn-edition tabs-section">
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-links" role="menu" style="min-width:210px;">
              <li>
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                <%= link_to 'add address', new_extend_demographies_address_path(extend_demography), class: 'dropdown-item' %>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <%= render partial: 'extend_demographies/addresses/addresses',
                       layout: 'shared/smart_widget_wrapper',
                       locals: {
                           f: f,
                           extend_demography: extend_demography,
                           wid_id: 'addresses',
                           wid_title: 'Addresses'
                       }
            %>
          </article>
        </div>
      </div>
    </div>
<% end %>
<script>
    $( function() {
        $tabs = $( "#tabs" ).tabs()
        $('.make_address').on('click', function(){
            setTimeout(function(){initMap();}, 1000);
        })
    } );
</script>
