<li class="menu-item menu-item-submenu <%= menu_open? %>" aria-haspopup="true" data-menu-toggle="hover">
  <a href="javascript:;" class="menu-link menu-toggle btn btn-clean shadow-none <%= anchor_active? %> ">
    <span class="svg-icon menu-icon">
      <i class="fas fa-cogs"></i>
    </span>
    <span class="menu-text">Administration</span>
    <i class="menu-arrow"></i>
  </a>
  <div class="menu-submenu">
    <i class="menu-arrow"></i>
    <ul class="menu-subnav" style="list-style-type: none;">
      <li class="menu-item" aria-haspopup="true" data-toggle="tooltip" data-placement="right" data-container="body" data-boundary="window">
        <a href="/users" class="menu-link btn btn-clean shadow-none <%= menu_active?('users') %> ">
          <span class="svg-icon menu-icon">
            <i class="fas fa-user-friends"></i>
          </span>
          <span class="menu-text">Users</span>
        </a>
      </li>

      <li class="menu-item" aria-haspopup="true" data-toggle="tooltip" data-placement="right" data-container="body" data-boundary="window" >
        <a href="<%= channels_path %>" class="menu-link btn btn-clean shadow-none <%= menu_active?('channels','index') %> ">
          <span class="svg-icon menu-icon ">
            <i class="fas fa-clone"></i>
          </span>
          <span class="menu-text">All Channels</span>
        </a>
      </li>

      <li class="menu-item " aria-haspopup="true" data-toggle="tooltip" data-placement="right" data-container="body" data-boundary="window" >
        <a href="/enumerations" class="menu-link btn btn-clean shadow-none <%= menu_active?('enumerations') %> ">
          <span class="svg-icon menu-icon">
            <i class="fas fa-sliders-h"></i>
          </span>
          <span class="menu-text">Enumerations</span>
        </a>
      </li>

      <% if module_enabled?('news') && can?(:manage_roles, :manage_news, :view_news) %>
        <li class="menu-item" data-toggle="tooltip" data-placement="right" data-container="body" >
          <a href="/news" class="menu-link btn btn-clean shadow-none <%= menu_active?('news') %>">
            <span class="svg-icon menu-icon">
              <i class="fa fa-lg fa-fw fa-newspaper-o"></i>
            </span>
            <span class="menu-text <%= menu_active?('news')%>">News</span>
          </a>
        </li>
      <% end %>

      <li class="menu-item" aria-haspopup="true" data-toggle="tooltip" data-placement="right" data-container="body" data-boundary="window" >
        <a href="/settings" class="menu-link btn btn-clean shadow-none <%= menu_active?('settings') %> ">
          <span class="svg-icon menu-icon">
            <i class="fas fa-cog"></i>
          </span>
          <span class="menu-text">Settings</span>
        </a>
      </li>
    </ul>
  </div>
</li>
