
<li>
  <a href="#" id="ul_link"><i class="fa fa-lg fa-fw fa-square"></i> <span class="menu-item-parent">Links</span></a>
  <ul id="link_menu">
    <li >
      <a href="/links" title="<%= 'Links' %>"><i class="fa fa-lg fa-fw fa-navicon"></i><span class="menu-item-parent"><%= 'Links' %></span></a>
    </li>
    <% Links::Link.visible.each do |link| %>
        <li >
          <a target="_blank" href="<%= link.url %>" title="<%= link.title %>"><i class="fa fa-lg fa-fw fa-circle"></i><span class="menu-item-parent"><%=link.title %></span></a>
        </li>
    <% end %>
  </ul>
</li>