<ul>
  <li class="<%= menu_active?('home') %>">
    <a href="<%= "/" %>" title="Home"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Home</span></a>
  </li>

  <% if can?(:manage_roles) %>
      <li class="<%= menu_active?('employees') %>">
        <a href="<%= "/persons" %>" title="<%= t 'label_search' %>"><i class="fa fa-lg fa-fw fa-users"></i> <span class="menu-item-parent"><%= t :label_search %></span></a>
      </li>
  <% end %>


  <%= render partial: 'menu/other_links' %>

  <% if User.current.admin? %>
      <%= render partial: 'menu/admin' %>
  <% end %>
</ul>
