<table class="table table-separate table-head-custom" id="users_deleted">
  <thead>
  <tr>
    <th><%= t :login %></th>
    <th><%= t :email %></th>
    <th> <%= t('profile.first_name') %> </th>


    <th> <%= t('profile.last_name') %> </th>
    <th> <%= t('status') %> </th>
    <th><%= t('restore') %></th>
    <th><%= t('delete') %></th>
  </tr>
  </thead>

  <tbody>
  <% users.each do |user| %>
    <tr>
      <td><%= user.login %></td>
      <td><%= user.email %></td>
      <td><%= user.first_name %></td>


      <td><%= user.last_name %></td>

      <td><%= user.state.humanize %></td>
      <td><%= restore_user_link(user, 'data-turbolinks' => false) %></td>
      <td><i class="far fa-lg fa-trash-alt cursor-pointer delete-icon" data-value='<%= user.id%>'> </i></td>
    </tr>
  <% end %>
  </tbody>
</table>

<script>
  $(document).on('turbolinks:load', () => {
    initDataTable('users_deleted')
  })

  $('.delete-icon').on('click', function (e) {
    var id = $(this).data("value");

    Swal.fire({
      title: 'Are you sure?',
      text: "You will not be able to recover this User!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Delete',
      cancelButtonText: 'Cancel',
      reverseButtons: true
    }).then(function (result) {
      if (result.isConfirmed) {
        $.ajax({
          url: '/users/'+id+'/really_destroy',
          type: 'delete',
          success: function(response){
            Swal.fire(
              'Deleted!',
              'User has been deleted Permanently.',
              'success'
            ).then(function() {
              window.location.reload();
            });
          }
        })
      } else if (result.dismiss === 'cancel') {
        Swal.fire(
          'Cancelled',
          'User is not deleted',
          'error'
        )
      }
    });
  });
</script>
