<head>
  <meta charset="utf-8">
  <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

  <title> <%= Setting['application_name'] %> </title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- Basic Styles -->


  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track'=> 'reload' %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <%= javascript_include_tag 'application', 'data-turbolinks-track'=> 'reload' %>

  <meta name="turbolinks-cache-control" content="no-cache">

  <%= csrf_meta_tags %>

  <!-- We recommend you use "your_style.css" to override SmartAdmin
       specific styles this will also ensure you retrain your customization with each SmartAdmin update.
  <link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css"> -->

  <!-- FAVICONS -->
  <%= favicon_link_tag 'favicon.ico' %>


  <!-- Specifying a Webpage Icon for Web Clip

  <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">


</head>
