<div class="row">
  <div class="col-xs-12" style="padding:15px 25px 15px 25px;">
    <p>
      <strong>Identification Type:</strong>
      <%= @identification.identification_type %>
    </p>

    <p>
      <strong>Identification Number:</strong>
      <%= @identification.identification_number %>
    </p>

     <p>
      <strong>Status:</strong>
      <%= @identification.status %>
    </p>

    <p>
      <strong>Date Expired:</strong>
      <%= format_date @identification.date_expired %>
    </p>

    <p>
      <strong>Issued By Type:</strong>
      <%= @identification.issued_by_type %>
    </p>
    
    <p>
      <strong>Date Issued:</strong>
      <%= format_date @identification.date_issued %>
    </p>

    <p>
      <strong>Note:</strong>
      <%= @identification.note.html_safe %>
    </p>

  </div>
</div>
