<% if dashboards.present? %>
  <div class="row">
    <% dashboards.each do |dashboard| %>
      <div class="card m-4 p-2 cursor-pointer" style="width: 18rem">
        <div class="text-center">
          <% if check_dashboard(dashboard) %>
            <%= link_to [dashboard.report.channel, dashboard.report , dashboard] do %>
              <%= image_tag "dashboard.png", style: 'width: 13rem' %>
            <% end %>
          <% else %>
            <%= link_to channel_multi_data_set_dashboard_path(dashboard.channel,dashboard) do%>
              <%= image_tag "dashboard.png", style: 'width: 13rem; height: 13rem' %>
            <% end %>
          <% end %>
            <div class="text-center">
              <div title="<%= dashboard.name %>" class="text-black-50 text-align-center data_title w-100 mb-5 p-2">
                <%= dashboard.name.truncate(50) %>
              </div>
            </div>
        </div>
      </div>
    <% end %>
<% else %>
  <div class="col-md-12">
    <div class="alert alert-custom alert-notice alert-light-primary show d-flex" role="alert">
      <div class="alert-icon"><i class="fas fa-exclamation-triangle"></i></div>
      <div class="alert-text">No Dashboard to display!</div>
    </div>
  </div>
<% end %>


