<div class="bg-white w-100 text-center pb-1">
  <%= link_to channel_report_path(report.channel, report) do %>
    <% name = JSON.parse(report&.save_pivot_tables&.first&.content)["rendererName"].downcase rescue nil %>
    <% if (name && name.include?('table')) %>
        <%= image_tag "pivot/table.png", size: '220x220'%>
    <% elsif (name && name.include?('heatmap')) %>
        <%= image_tag "pivot/heatmap.png", size: '220x220'%>
    <% elsif name%>
        <%= image_tag "pivot/#{name.gsub(' ', '-')}.png" , size: '220x220'%>
    <% else %>
      <%= image_tag "pivot/table.png", size: '220x220'%>
    <% end %>
  <% end %>
  <div class="text-center">
    <p> Data Set: <%= report.name  %> </p>
    <p> Channel: <%= report.channel.name  %></p>
  </div>
</div>
