<div class="row" >
  <div class="col-md-12">
    <h2><b>Public Reports</b></h2>
  </div>
    <% @public_channels.each do |channel| %>
      <%= render partial: 'report_content' , locals: { channel: channel  }  %>
    <% end %>
  <div class="col-md-12">
    <% if @flag1 %>
      <%= link_to 'Show More...', welcome_index_path(display_all_public: true), remote: true , class: 'pull-right' %>
    <% else %>
      <%= link_to 'Show Less...', welcome_index_path(display_all_public: false), remote: false, class: 'pull-right' %>
    <% end %>
  </div>
</div>

  <div class="col-md-12 mt-2 mb-2">
   <h2><b>Personal Reports</b></h2>
  </div>
  <div class="row">
    <% @personal_channels.each do |channel| %>
      <%= render partial: 'report_content' , locals: { channel: channel  }  %>
    <% end %>
  <div class="col-md-12">
    <% if @flag2 %>
      <%= link_to 'Show More...', welcome_index_path(display_all_personal: true) , remote: true ,class: 'pull-right'  %>
    <% else %>
      <%= link_to 'Show Less...', welcome_index_path(display_all_personal: false), remote: false, class: 'pull-right' %>
    <%end%>
   </div>
  </div>

  <div class="col-md-12 mt-2 mb-2">
   <h2><b>Group Reports</b></h2>
  </div>
  <div class="row">
    <% @group_channels.each do |channel| %>
      <%= render partial: 'report_content' , locals: { channel: channel  }  %>
    <% end %>
    <div class="col-md-12">
      <% if @flag3 %>
        <%= link_to 'Show More...', welcome_index_path(display_all_group: true) , remote: true, class: 'pull-right'  %>
      <% elsif  %>
        <%= link_to 'Show Less...', welcome_index_path(display_all_group: false), remote: false, class: 'pull-right' %>
      <% end %>
    </div>
  </div>
</div>
