  <div class="col-xs-12 btn-edition tabs-section">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-links" role="menu" style="min-width:200px;">
        <% if @news.can?(:delete_news, :manage_news, :manage_roles) %>
          <li>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              <%= link_to('Delete', news_path(@news), class: 'dropdown-item',
                          :method => :delete,
                          :data => {:confirm => t(:text_are_you_sure)}) 
              %>
          </li>
          <div class='dropdown-item-dividier'></div>
        <% end %>

        <% if @news.can?(:edit_news, :manage_news, :manage_roles) %>
          <li>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            <%= link_to 'Edit', edit_news_path(@news), class: 'dropdown-item' %>
          </li>
          <div class='dropdown-item-dividier'></div>
        <% end %>

        <% if can?(:add_notes, :manage_roles) %>
          <li>
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            <%= link_to 'Add Comment', new_note_path(type: 'PostNote', owner_id: @news.id), class: 'dropdown-item', style: 'padding-right: 0;' %>
          </li>
          <div class='dropdown-item-dividier'></div>
        <% end %>

          <li>
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            <%= link_to 'Cancel', news_index_path, class: 'dropdown-item' %>
          </li>
          <div class='dropdown-item-dividier'></div>

          <li>
            <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
            <%= link_to 'Print', news_path(@news, format: 'pdf'), class: 'dropdown-item' %>
          </li>
      </ul>
    </div>
  </div>
