
<%= render partial: 'action_menu' %>
<article class="news-article">
  <header>
    <h3><%= avatar(@news.user) %>
      <%= link_to h(@news.title), news_path(@news) %>
      <%= "(#{t(:label_x_comments, :count => @news.post_notes.count)})" if @news.post_notes.count > 0 %>
    </h3>
    <p class="author"><%= authoring @news.created_at, @news.user %></p>
  </header>
  <div class="wiki">
    <%= @news.summary.html_safe %>
  </div>
 <div class="wiki">
    <%= @news.description.html_safe %>
  </div>

  <p>
    <strong><%= t('attachments') %>:</strong>
    <% @news.post_attachments.each do |attachment| %>
        <%= render 'attachments/attachment_show_only', :attachment => attachment %>
    <% end %>
  </p>
</article>

<section id="widget-grid" class="form_user_notes">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'notes/list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                         show_case_column: false,
                         notes: @news.post_notes,
                         wid_id: 'notes',
                         wid_title: 'Comments'
                 } %>
    </article>
  </div>
</section>
