<%= form_with(model: [@channel, multi_dashboard], local: true, html: { class: 'form-horizontal', id: 'reportForm' }) do |form| %>
  <% if multi_dashboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(multi_dashboard.errors.count, "error") %> prohibited this dashboard from being saved:</h2>
      <ul>
        <% multi_dashboard.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :report_id , id: 'report_id'%>
  <div class="form-group">
    <%= form.label 'Name:', class: 'col-md-2 control-label' %>
    <div class="col-md-10 p-0">
      <%= form.text_field :name, class: 'form-control', id: 'dashboard_name', required: true %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label 'Multi Data Set Dashboard Category:', class: 'col-md-2 control-label' %>
    <div class="col-md-10 p-0">
      <%= form.select :channel_enum_id, options_for_select(ChannelEnum.pluck(:name, :id).map { |data| [data[0].humanize, data[1]] }, selected: @multi_dashboard.channel_enum_id.present? ? @multi_dashboard.channel_enum_id : ChannelEnum.find_by(name: 'Uncategorized').id) , {}, {class: 'form-control', id: 'multi_dashboard_category'} %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label 'Reports:', class: 'col-md-2 control-label pt-4' %>
    <div id="dragDropDataSet" class="rounded row my-3 card-min-hight border px-3 pt-3 pb-10" ondrop="dragDrop(event)" ondragover="allowDrop(event)">
    </div>
  </div>

  <input type="hidden" name="pivot_table_ids" id="pivotReportIDs">
  <input type="hidden" name="pivot_table_indexs" id="pivotReportIndexs">
  <div class="form-group" >
    <div class="col-md-12 pr-0">
      <%= link_to t('button_cancel'), channel_path(@channel), class: 'btn btn-warning pull-right' %>
      <%= form.submit t('button_save'), class: 'btn btn-success pull-right' ,:onclick => "return validateform()"%>
    </div>
  </div>

  <div class="form-group" id='tasks'>
    <div class="row">
      <label class="col-md-2 pt-5 text-align-right">Draggable Items:</label>
      <div class="rounded p-3 row col-md-10 my-2 pl-1" id="form_report">
        <% report_ids = @channel.reports.pluck(:id) %>
        <% save_pivot_tables = SavePivotTable.where(report_id: report_ids) %>
        <% if save_pivot_tables %>
          <% save_pivot_tables.each do |r| %>
            <div id="report_<%=r.id%>" class="drop-none card p-2 col-md-5 m-2" draggable="true" ondragstart="dragStart(event)">
              <div onclick="removedCard('<%=r.id%>')" class="drop-none disp_icon mouse-hover">
                <span><i class="drop-none fa fa-times d-none cursor-pointer float-right px-5"></i></span>
              </div>
              <div class="drop-none card-body py-3 pl-0 pr-0 px-4 text-center">
                <%#= image_tag "pivot/col-heatmap.png", size: '190x190', class: "w-100"%>
                <% if (name = JSON.parse(r.content)['rendererName'].downcase) && name.include?('table') %>
                  <%= image_tag "pivot/table.png", class: "drop-none pointer-events-none", style: "width: 13rem; height: 13rem" %>
                <% elsif (name = JSON.parse(r.content)['rendererName'].downcase) && name.include?('heatmap') %>
                  <%= image_tag "pivot/heatmap.png", class: "drop-none pointer-events-none", style: "width: 13rem; height: 13rem" %>
                <% else %>
                  <%= image_tag "pivot/#{name.gsub(' ', '-')}.png", class: "drop-none pointer-events-none", style: "width: 13rem; height: 13rem"%>
                <% end %>
                <div class="drop-none cursor-pointer card-text">
                  <span class="drop-none px-3" title="<%= r.name %>">
                    <%= r.name.truncate(70) %>
                  </span>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<script>
  $( function() {
    $( "#dragDropDataSet" ).sortable();
    $( "#dragDropDataSet" ).disableSelection();
  } );

  var pivotReportIDs      = [];
  var pivotReportIndexIds = [];
  function validateform(){
    pivotReportIDs      = [];
    pivotReportIndexIds = [];
    $('#dragDropDataSet div').each(function() {
      reportId = this.id.split("_")[1];
      if(reportId != null){
        pivotReportIDs.push(parseInt(reportId));
        pivotReportIndexIds.push($(this).index());
      }
    });
    pivotReportIdsField = document.getElementById("pivotReportIDs");
    pivotReportIndexsField = document.getElementById("pivotReportIndexs");
    pivotReportIdsField.value = '';
    pivotReportIndexsField.value = '';
    pivotReportIdsField.value = JSON.stringify([...new Set(pivotReportIDs)]);
    pivotReportIndexsField.value = JSON.stringify([...new Set(pivotReportIndexIds)]);
  }
  function removedCard(id){
    let el = $(`div#report_${id}`)
    el.removeClass('disp_i');
    $("div#form_report").append(el);
    if($('#dragDropDataSet > div').length == 0){
      $("#dragDropDataSet").addClass('placeholder-custom')
    }
  }
  $(document).ready(function() {
    pivotReportIDs = <%= pluck_pivot_table_ids(multi_dashboard, params) %>
    if(pivotReportIDs.length > 0 ){
      pivotReportIDs.forEach(function (id, index) {
        el = $(`#report_${id}`);
        el.addClass('disp_i');
        $("#dragDropDataSet").append(el);
      });
    }
    else
    {
      $("#dragDropDataSet").addClass('placeholder-custom')
    }
  });
  function allowDrop (ev) {
    ev.preventDefault();
  }
  function dragStart (ev) {
    ev.dataTransfer.setData ("text",  ev.target.id);
  }
  function dragDrop (ev) {
    var t = ev.target;
    if(t.classList.contains("drop-none")){
      return false;
    }
    ev.preventDefault ();
    var data =  ev.dataTransfer.getData ("text");
    ev.target.appendChild(document.getElementById(data));
    $('#dragDropDataSet div').each(function() {
      $("#dragDropDataSet").removeClass('placeholder-custom')
      pivotTableCard = this.id;
      $(this).addClass('disp_i');
    });
  }
</script>
