
<%= stylesheet_link_tag 'pivot_style' %>
<%= stylesheet_link_tag 'c3.min' %>
<%= stylesheet_link_tag 'subtotal.min' %>
<%= stylesheet_link_tag 'handsontable.full.min' %>
<%= stylesheet_link_tag 'pivot.min' %>

<%= javascript_include_tag 'pivottables/highstock' %>
<%= javascript_include_tag 'pivottables/highcharts-more' %>
<%= javascript_include_tag 'pivottables/treemap' %>

<%= javascript_include_tag 'pivottables/pivot' %>
<%= javascript_include_tag 'pivottables/d3.min' %>
<%= javascript_include_tag 'pivottables/jquery.ui.touch-punch.min' %>
<%= javascript_include_tag 'pivottables/c3.min' %>
<%= javascript_include_tag 'pivottables/c3_renderers.min' %>
<%= javascript_include_tag 'pivottables/plotly-basic-latest.min' %>
<%= javascript_include_tag 'pivottables/plotly_renderers' %>
<!-- subtotal.js libs from ../dist -->
<%= javascript_include_tag 'pivottables/subtotal.min' %>

<%= javascript_include_tag 'pivottables/handsontable.full.min' %>

<div>

  <!-- <%#= render partial: 'action_menu' %> -->

  <div class="noprint row">
    <div class="col-md-12 ">
      <div class="pull-right" style="margin-bottom: 10px">
        <% if current_user.id == @multi_dashboard.user_id %>
          <%= edit_button edit_channel_multi_data_set_dashboard_path(@channel, @multi_dashboard) %>
          <%= delete_button channel_multi_data_set_dashboard_path(@channel, @multi_dashboard), 'Dashboard', @multi_dashboard.name %>
        <% end %>
          <%= cancel_button channel_path(@channel) %>
      </div>
    </div>
  </div>
  <p>
    <strong>Name:</strong>
    <%= @multi_dashboard.name %>
  </p>
</div>
<section id="widget-grid" class="channel">
  <div class="row">
    <article class="col-md-12 row">
      <% pivot_tables = load_pivot_tables_shared_dashboards(@multi_dashboard) %>
      <div class="col-md-6 px-0">
        <% load_even_record(pivot_tables).each do |pivot_table| %>
          <div class="card" style="max-height: auto; overflow: hidden;">
            <%= render  partial: 'pivot_table', locals: { pivot_table: pivot_table } %>
          </div>
        <% end %>
      </div>
      <div class="col-md-6 px-0">
        <% load_odd_record(pivot_tables).each do |pivot_table| %>
          <div class="card" style="max-height: auto; overflow: hidden;">
            <%= render  partial: 'pivot_table', locals: { pivot_table: pivot_table } %>
          </div>
        <% end %>
      </div>
    </article>
  </div>
</section>
