<div>
  <!-- <%#= render partial: 'action_menu' %> -->
  <div class="noprint row">
    <div class="col-md-12 ">
      <div class="pull-right" style="margin-bottom: 10px">
        <% if can_manage_multi_dataset_dashboard?(@channel) %>
          <%= edit_button edit_channel_multi_data_set_dashboard_path(@channel, @multi_dashboard) %>

          <%= delete_button channel_multi_data_set_dashboard_path(@channel, @multi_dashboard), 'Dashboard', @multi_dashboard.name %>
        <% end %>
          <%= cancel_button channel_path(@channel) %>
      </div>
    </div>
  </div>
  <p>
    <strong>Name:</strong>
    <%= @multi_dashboard.name %>
  </p>
</div>
<section id="widget-grid" class="channel">
  <div class="row">
    <article class="col-md-12 row">
      <% pivot_tables = load_pivot_tables_shared_dashboards(@multi_dashboard) %>
      <div class="col-md-6 px-0">
        <% load_even_record(pivot_tables).each do |pivot_table| %>
          <div class="card" style="max-height: auto; overflow: hidden;">
            <% params[:number] = pivot_table.id %>
            <% params[:query_id] = pivot_table.id %>
            <%= render  partial: 'shared/pivot_table',
                        locals: {
                                  pivot_table: pivot_table, report: pivot_table.report
                                } %>
          </div>
        <% end %>
      </div>
      <div class="col-md-6 px-0">
        <% load_odd_record(pivot_tables).each do |pivot_table| %>
          <div class="card" style="max-height: auto; overflow: hidden;">
            <% params[:number] = pivot_table.id %>
            <% params[:query_id] = pivot_table.id %>
            <%= render  partial: 'shared/pivot_table', locals: { pivot_table: pivot_table, report: pivot_table.report } %>
          </div>
        <% end %>
      </div>
    </article>
  </div>
</section>
