<%= form_with(model: [@channel, @report, dashboard], local: true, html: { class: 'form-horizontal', id: 'reportForm' }) do |form| %>
    <% if dashboard.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(dashboard.errors.count, "error") %> prohibited this dashboard from being saved:</h2>
          <ul>
            <% dashboard.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= form.hidden_field :report_id , id: 'report_id'%>
    <div class="form-group">
      <%= form.label 'Name:', class: 'col-md-2 control-label' %>
      <div class="col-md-10 p-0">
        <%= form.text_field :name , class: 'form-control' , id: 'dashboard_name', required: true %>
      </div>
    </div>
    <div class="form-group">
      <%= form.label 'Dashboard type', class: 'col-md-2 control-label' %>
      <div class="col-md-10 p-0">
        <%= form.select :dashboard_enum_id, options_for_select(DashboardEnum.pluck(:name, :id), :selected => @dashboard.dashboard_enum_id) , {},{class: 'form-control'} %>
      </div>
    </div>
    <div class="form-group">
      <%= form.label 'Reports:', class: 'col-md-2 control-label' %>
      <div id="dragDropDataSet" class="rounded row my-3 card-min-hight border px-3 pt-3 pb-10" ondrop="dragDrop(event)" ondragover="allowDrop(event)">
      </div>
    </div>

    <input type="hidden" name="pivot_table_ids" id="pivotReportIDs">
    <input type="hidden" name="pivot_table_indexs" id="pivotReportIndexs">
    <div class="form-group" >
      <div class="col-md-12 pr-0">
        <%= link_to t('button_cancel'), channel_report_path(@channel, @report), class: 'btn btn-warning pull-right' %>
        <%= form.submit t('button_save'), class: 'btn btn-success pull-right' ,:onclick => "return validateform()"%>
      </div>
    </div>

    <div class="form-group" id='tasks'>
      <div class="row">
        <label class="col-md-2 pt-5 text-align-right">Draggable Items:</label>
        <div class="rounded p-3 row col-md-10 my-2 pl-1" id="form_report">
          <% SavePivotTable.where(report_id: @report.id).each do |r| %>
            <div id="report_<%=r.id%>" class="card p-2 m-2" style="width: 18rem" draggable="true" ondragstart="dragStart(event)">
              <div onclick="removedCard('<%=r.id%>')" class="disp_icon mouse-hover">
                <span><i class="fa fa-times d-none cursor-pointer float-right px-5"></i></span>
              </div>
              <div class="card-body py-3 pl-0 pr-0 px-4 text-center">
                <%#= image_tag "pivot/col-heatmap.png", size: '190x190', class: "w-100"%>
                <% if (name = JSON.parse(r.content)['rendererName'].downcase) && name.include?('table') %>
                    <%= image_tag "pivot/table.png", class: "pointer-events-none", style: "width: 13rem; height: 13rem;" %>
                <% elsif (name = JSON.parse(r.content)['rendererName'].downcase) && name.include?('heatmap') %>
                    <%= image_tag "pivot/heatmap.png", class: "pointer-events-none", style: "width: 13rem; height: 13rem;" %>
                <% else %>
                    <%= image_tag "pivot/#{name.gsub(' ', '-')}.png", class: "pointer-events-none", style: "width: 13rem; height: 13rem;"%>
                <% end %>
                <div class="cursor-pointer card-text">
                  <span class="px-3" title="<%= r.name %>">
                      <%= r.name.truncate(70) %>
                    </span>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
<% end %>

<script>
  var pivotReportIDs      = [];
  var pivotReportIndexIds = [];
  function validateform(){
    pivotReportIDs      = [];
    pivotReportIndexIds = [];
    $('#dragDropDataSet div').each(function() {
      reportId = this.id.split("_")[1];
      if(reportId != null){
        pivotReportIDs.push(parseInt(reportId));
        pivotReportIndexIds.push($(this).index());
      }
    });
    pivotReportIdsField = document.getElementById("pivotReportIDs");
    pivotReportIndexsField = document.getElementById("pivotReportIndexs");
    pivotReportIdsField.value = '';
    pivotReportIndexsField.value = '';
    pivotReportIdsField.value = JSON.stringify([...new Set(pivotReportIDs)]);
    pivotReportIndexsField.value = JSON.stringify([...new Set(pivotReportIndexIds)]);
  }
  function removedCard(id){
    let el = $(`div#report_${id}`)
    el.removeClass('disp_i');
    $("div#form_report").append(el);
    if($('#dragDropDataSet > div').length == 0){
      $("#dragDropDataSet").addClass('placeholder-custom')
    }
  }
  $(document).ready(function() {
    pivotReportIDs = <%= pluck_pivot_table(dashboard, params)%>
    if(pivotReportIDs.length > 0 ){
      pivotReportIDs.forEach(function (id, index) {
        el = $(`#report_${id}`);
        el.addClass('disp_i');
        $("#dragDropDataSet").append(el);
      });
    }
    else
    {
       $("#dragDropDataSet").addClass('placeholder-custom')
    }
  });
  function allowDrop (ev) {
    ev.preventDefault();
  }
  function dragStart (ev) {
    ev.dataTransfer.setData ("text",  ev.target.id);
  }
  function dragDrop (ev) {
    var t = ev.target;
    if(t.classList.contains("card") || t.classList.contains("fa") || t.classList.contains("card-body") || t.classList.contains("card-title")){
      return false;
    }
    ev.preventDefault ();
    var data =  ev.dataTransfer.getData ("text");
    ev.target.appendChild (document.getElementById(data));
    $('#dragDropDataSet div').each(function() {
      $("#dragDropDataSet").removeClass('placeholder-custom')
      pivotTableCard = this.id;
      $(this).addClass('disp_i');
    });
  }
</script>
