
<%= stylesheet_link_tag 'pivot_style' %>
<%= stylesheet_link_tag 'c3.min' %>
<%= stylesheet_link_tag 'subtotal.min' %>
<%= stylesheet_link_tag 'handsontable.full.min' %>
<%= stylesheet_link_tag 'pivot.min' %>

<%= javascript_include_tag 'pivottables/highstock' %>
<%= javascript_include_tag 'pivottables/highcharts-more' %>
<%= javascript_include_tag 'pivottables/treemap' %>

<%= javascript_include_tag 'pivottables/pivot' %>
<%= javascript_include_tag 'pivottables/d3.min' %>
<%= javascript_include_tag 'pivottables/jquery.ui.touch-punch.min' %>
<%= javascript_include_tag 'pivottables/c3.min' %>
<%= javascript_include_tag 'pivottables/c3_renderers.min' %>
<%= javascript_include_tag 'pivottables/plotly-basic-latest.min' %>
<%= javascript_include_tag 'pivottables/plotly_renderers' %>
<!-- subtotal.js libs from ../dist -->
<%= javascript_include_tag 'pivottables/subtotal.min' %>

<%= javascript_include_tag 'pivottables/handsontable.full.min' %>

<div>

  <!-- <%= render partial: 'action_menu' %> -->

  <div class="noprint row">
  <div class="col-md-12 ">
    <div class="pull-right" style="margin-bottom: 10px">
      <% if @report.channel.is_creator? %>
        <%= edit_button edit_channel_report_dashboard_path(@report.channel, @report, @dashboard) %>
        <%= delete_button channel_report_dashboard_path(@report.channel, @report, @dashboard), 'Dashboard' %>
      <% end %>
        <%= cancel_button channel_report_path(@channel, @report) %>
    </div>
  </div>
</div>
  <p>
    <strong>Name:</strong>
    <%= @dashboard.name %>
  </p>
  <div class="row">
    <% @dashboard.save_pivot_tables.each_with_index do |pivot_table, idx| %>
        <div class="col-md-10" style="max-height: auto; padding-right: 10px; margin-left: 20px; margin-right: 20px;">
          <% params[:query_id] = pivot_table.id %>
          <% params[:number] = idx %>
          <%= render partial: 'reports/pivot_table', locals: {pivot_table: pivot_table} %>
        </div>
    <% end %>
  </div>
</div>
