<div>
  <!-- <%#= render partial: 'action_menu' %> -->
  <div class="noprint row">
    <div class="col-md-12">
      <div class="pull-right" style="margin-bottom: 10px">
        <% if current_user.id == @dashboard.user_id || current_user.id == @report.channel.user_id %>
          <%= edit_button edit_channel_report_dashboard_path(@report.channel, @report, @dashboard) %>
          <%= delete_button channel_report_dashboard_path(@report.channel, @report, @dashboard), 'Dashboard', @dashboard.name %>
        <% end %>
          <%= cancel_button channel_report_path(@channel, @report) %>
      </div>
    </div>
  </div>
  <p>
    <strong>Name:</strong>
    <%= @dashboard.name %>
  </p>
</div>
<section id="widget-grid" class="channel">
  <div class="row">
    <article class="col-md-12 row">
      <% pivot_tables = load_pivot_tables_dashboards(@dashboard) %>
      <div class="col-md-6 px-0">
        <% load_even_record(pivot_tables).each do |pivot_table| %>
          <div class="card" style="max-height: auto; overflow: hidden;">
            <% params[:query_id] = pivot_table.id %>
            <% params[:number] = pivot_table.id %>
            <%= render  partial: 'shared/pivot_table',
                        locals: {
                          wid_id: 'Dashboard',
                          wid_title: '',
                          pivot_table: pivot_table,
                          report: pivot_table.report
                        } %>
          </div>
        <% end %>
      </div>
      <div class="col-md-6 px-0">
        <% load_odd_record(pivot_tables).each do |pivot_table| %>
          <div class="card" style="max-height: auto; overflow: hidden;">
            <% params[:query_id] = pivot_table.id %>
            <% params[:number] = pivot_table.id %>
            <%= render  partial: 'shared/pivot_table',
                        locals: {
                          wid_id: 'Dashboard',
                          wid_title: '',
                          pivot_table: pivot_table,
                          report: pivot_table.report
                        } %>
          </div>
        <% end %>
      </div>
    </article>
  </div>
</section>
