<div class="row">
  <div class="col-md-12 ">
    <div class="pull-right">


      <% if @report.can?(:delete_channel, :manage_channel, :manage_roles) %>
          <span>
            <%= link_to( channel_report_path(@channel, @report), class: 'btn btn-danger',
                         :method => :delete,
                         :data => {:confirm => t(:text_are_you_sure)}) do %>
                <span class="glyphicon glyphicon-remove" aria-hidden="true">Delete</span>
            <%  end  %>
          </span>

      <% end %>

      <% if @report.can?(:edit_channel, :manage_channel, :manage_roles) %>
          <span>
            <%= link_to  edit_channel_report_path(@channel, @report), class: 'btn btn-success' do %>
                <span class="glyphicon glyphicon-edit" aria-hidden="true">Edit </span>
            <% end %>
          </span>

          <span>

            <%= link_to  '#', class: 'btn btn-info', data: {toggle:"modal", target:"#myModal" } do %>
                <span class="glyphicon glyphicon-upload" aria-hidden="true">Upload document</span>

            <% end %>
          </span>

      <% end %>

      <% if @channel.is_personal? and @report.can?(:edit_channel, :manage_channel, :manage_roles) %>
          <span>

            <%= link_to share_report_channel_report_path(@channel, @report), class: 'btn btn-primary' do  %>
                <span class="glyphicon glyphicon-plus" aria-hidden="true">Share report</span>
            <% end %>
          </span>

      <% end %>


      <span>

        <%= link_to channel_path(@channel), class: 'btn btn-warning' do  %>
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true">Cancel</span>
        <% end %>

      </span>


      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Upload Files</h4>
            </div>
            <%= form_for(@report, url: upload_document_channel_report_path(@channel, @report), method: :post, html: { class: 'form-horizontal' }) do |f| %>

                <div class="modal-body">
                  <fieldset>
                    <div class="form-group">
                      <%= f.label t('document'), class: 'col-md-2 control-label' %>
                      <div class="col-md-9">
                        <%= f.file_field :document  %>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <%= f.submit t('button_save'), class: 'btn btn-success pull-right' %>
                </div>
                </div>

            <% end %>
            </div>
      </div>
    </div>
  </div>
</div>


