<div class="noprint row">
  <div class="col-md-12 ">
    <div class="pull-right" style="margin-bottom: 10px">

      <% if @report.channel.is_personal? and @report.channel.is_creator?  %>
          <span>
            <%= show_button(share_report_channel_report_path(@report.channel, @report), ' Share Report', 'plus', 'primary') %>
          </span>
      <% end %>

      <% if params[:new_query] &&  @report.document_url %>
          <% if @report.channel.is_public? or @report.channel.is_creator? or @report.channel.my_permission.can_add_report? %>
          <%= show_button('#', ' Save Report', 'arrow-down', 'info', {toggle:"modal", target:"#mySaveModal" }) if  @report.document_url %>
          <% end %>
          <%= cancel_button channel_report_path(@channel, @report) %>
      <% elsif params[:query_id] &&   @report.document_url %>
          <% if ((@report.channel.is_public? and @report.created_by_id == User.current.id) or (!@report.channel.is_public? and @report.channel.is_creator?) or @report.channel.my_permission.can_add_report?) %>
              <%= show_button('#', ' Update Report', 'arrow-down', 'info', {toggle:"modal", target:"#myRenameModal" }) if  @report.document_url %>
          <% end %>
          <input type="button" onclick="$('#output').find('.pvtRendererArea').attr('id', 'testTable'); tableToExcel('testTable', 'Pivot table export')" value="Export to Excel" class="btn btn-primary">

          <%#= link_to "<i class='fa fa-print' aria-hidden='true'> Print </i>".html_safe,  '#', class: "noprint btn btn-primary", onclick: 'window.print(); ' %>
          <%= cancel_button channel_report_path(@channel, @report) %>
      <% else %>
          <% if @report.channel.is_public? or @report.channel.is_creator? or @report.channel.my_permission.can_add_report? %>
              <%= show_button(channel_report_path(@channel, @report, new_query: true), 'New Report', 'arrow-down', 'info' ) if  @report.document_url %>
          <% end %>
          <% if ((@report.channel.is_public? and @report.created_by_id == User.current.id) or (!@report.channel.is_public? and @report.channel.is_creator?) or @report.channel.my_permission.can_add_report?) %>
              <span>
                <%= show_button('#', ' Upload Data', 'upload', 'info', {toggle:"modal", target:"#myModal" }) %>
              </span>
          <% end %>

          <% if ((@report.channel.is_public? and @report.created_by_id == User.current.id) or (!@report.channel.is_public? and @report.channel.is_creator?) or @report.channel.my_permission.can_add_report?) %>
                  <span>
                    <%= edit_button edit_channel_report_path(@report.channel, @report) %>
                  </span>
          <% end %>

          <% if ((@report.channel.is_public? and @report.created_by_id == User.current.id) or (!@report.channel.is_public? and @report.channel.is_creator?) or @report.channel.my_permission.can_delete_report?) %>
                  <span>
                    <%= delete_button channel_report_path(@report.channel, @report), 'Data set' %>
                  </span>
          <% end %>
          <%= cancel_button channel_path(@channel) %>
      <% end %>

      <%= render partial: 'uploader/report_upload' %>
    </div>
  </div>
</div>


