<div class="col-xs-12 btn-edition tabs-section">
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
    <ul class="dropdown-menu dropdown-links" role="menu" style="min-width:200px;">
      <% if @report.can?(:delete_channel, :manage_channel, :manage_roles) %>
          <li>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <%= link_to('Delete', channel_report_path(@channel, @report), class: 'dropdown-item',
                        :method => :delete,
                        :data => {:confirm => t(:text_are_you_sure)})
            %>
          </li>
          <div class='dropdown-item-dividier'></div>
      <% end %>

      <% if @report.can?(:edit_channel, :manage_channel, :manage_roles) %>
          <li>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            <%= link_to 'Edit', edit_channel_report_path(@channel, @report), class: 'dropdown-item' %>
          </li>
          <div class='dropdown-item-dividier'></div>
          <li>
            <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
            <%= link_to 'Upload document', upload_document_channel_report_path(@channel, @report), class: 'dropdown-item' %>
          </li>
          <div class='dropdown-item-dividier'></div>
      <% end %>

      <% if @channel.is_personal? and @report.can?(:edit_channel, :manage_channel, :manage_roles) %>
          <li>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <%= link_to 'Share report', '#', class: 'dropdown-item', onclick: 'show_upload_file();' %>
          </li>
          <div class='dropdown-item-dividier'></div>
      <% end %>


      <li>
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        <%= link_to 'Cancel', channel_path(@channel), class: 'dropdown-item' %>
      </li>
      <div class='dropdown-item-dividier'></div>
    </ul>
  </div>
</div>

<script>
  function show_upload_file(){
      $('#')
  }
</script>
