<%= form_tag  shared_report_channel_report_dashboards_path(@channel, @report), method: :post,  class: 'form_submit form-horizontal col-sm-12',  :multipart => true  do %>

    <%= hidden_field_tag :query_id, @query_id %>

    <div class="form-group row">
      <label class="col-form-label text-right col-md-2">Dashboards:</label>
      <div class="col-md-9">
        <select class="form-control select2" id="kt_select2_3" name="dashboards[]" multiple="multiple">
          <% @dashboards.each do |dashboard| %>
            <option value="<%= dashboard.id%>" <%=  @shared_dashboards.include?(dashboard.id) ? 'selected' : ''%>> <%= dashboard.name %> </option>
          <% end %>
        </select>
      </div>
    </div>

    <div class="form-group" >
      <div class="col-md-11">
        <%= link_to t('button_cancel'), channel_report_path(@channel, @report), class: 'btn btn-warning pull-right' %>
        <%= submit_tag t('button_save'), class: 'btn btn-success pull-right' %>
      </div>
    </div>
<% end %>

<script type="text/javascript">
  function backspaceHandler(event){
    if(event.which == 8 && event.target.value.length == 0) {
      event.stopPropagation();
    }
  }
  document.addEventListener('keydown', backspaceHandler, true);
</script>
