<div class="row">
  <div class="col-md-12">
    <div class="float-right" style="width: 150px;">
      <select onChange="if(this.selectedIndex!=0) self.location=this.options[this.selectedIndex].dataset.path" >
        <option>Filter</option>
        <% DashboardEnum.all.each do |enum| %>
          <% value = enum.id %>
          <% path = channel_report_path(@report.channel.id, @report.id, dashboard_enum_id: enum.id, report_enum_id: params[:report_enum_id]) %>
          <% if "#{value}" == "#{params[:dashboard_enum_id]}" || value ==default_dashboard_enum %>
            <option value="<%= value %>" selected data-path="<%= path %>"> <%= enum.name %></option>
          <% else %>
            <option value="<%= value %>" data-path="<%= path %>"> <%= enum.name %></option>
          <% end %>
        <% end %>
        <option></option>
      </select>
    </div>
  </div>
  <% if @report_dashboard.present? %>
    <% @report_dashboard.each do |dashboard| %>
      <div class="card border-0 p-0" style="width: 18rem">
        <div class="border m-2 text-center h-100">
          <div class="card-header p-0 pr-2 pt-2 border-0">
            <%= link_to('<i class="fa fa-times float-right"></i>'.html_safe, channel_report_dashboard_path(@channel, @report, dashboard),
              method: :delete, data: {confirm: "Are you sure to delete this dashboard?"}) if (dashboard.user_id == User.current.id) or User.current.admin?  %>
          </div>
          <div class="card-body pt-0 pb-2 px-0">
            <%= link_to  [@channel, @report, dashboard]  do %>
              <%= image_tag "dashboard.png", style: 'width: 13rem; height: 13rem;' %>
            <% end %>
            <div class="cursor-pointer text-center">
              <p class="mb-0 px-3">
                <% report_count = dashboard.save_pivot_tables.count%>
                Total Reports: <%= report_count.to_s %>
              </p>
              <p title="<%= dashboard.name %>" class="px-3 mb-0 mt-2">
                <%= dashboard.name.truncate(70) %>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="col-md-12 my-3 mx-4 alert alert-custom alert-notice alert-light-primary show d-flex" role="alert">
      <div class="alert-icon"><i class="fas fa-exclamation-triangle"></i></div>
      <div class="alert-text">No Dashboard to display!</div>
    </div>
  <% end %>
</div>
