<div class="card border-0 p-0" style="width: 18rem" draggable= '<%=is_all=='yes' ? 'false' : 'true'%>'ondragstart="dragevent_report(event,<%= pivot_table.id %>)">
  <div class="border m-2 text-center h-100" >
    <div class="card-header p-0 pr-2 pt-2 border-0">
      <%= link_to( '<i class="fa fa-times float-right"></i>'.html_safe, delete_pivottable_channel_report_path(@channel, @report, query_id: pivot_table.id),
                 :method => :delete,
                 :data => {:confirm => "Are you sure to delete Report: #{pivot_table.name}?"}) if @channel.is_public? or (@channel.is_group? and @channel.my_permission.can_add_report? and @channel.my_permission.can_view?) or (@channel.is_personal? and @channel.is_creator?)   %>
    </div>
    <div class="card-body pt-0 pb-2 px-3">
      <div class="py-2">
        <%= link_to channel_report_path(@channel, @report, query_id: pivot_table.id) ,draggable: false, class:'report_check' do %>
          <% if (name = JSON.parse(pivot_table.content)['rendererName'].downcase) && name.include?('table') %>
            <%= image_tag "pivot/table.png", style: "width: 13rem; height: 13rem;",draggable:false %>
          <% elsif (name = JSON.parse(pivot_table.content)['rendererName'].downcase) && name.include?('heatmap') %>
            <%= image_tag "pivot/heatmap.png", style: "width: 13rem; height: 13rem;",draggable:false %>
          <% else %>
            <%= image_tag "pivot/#{name.gsub(' ', '-')}.png" , style: "width: 13rem; height: 13rem;",draggable:false %>
          <% end %>
        <% end %>
      </div>
      <div class="cursor-pointer text-center">
        <span title="<%= pivot_table.name %>" class="px-3">
          <%= pivot_table.name.truncate(70) %>
        </span>
      </div>
    </div>
  </div>
</div>
<script>
  function dragevent_report(ev,id) {
    ev.dataTransfer.setData("report_id", id);
    ev.dataTransfer.setData("status", 'report');
  }
</script>
