<div class="row">
  <div class="col-md-12  ">
    <%= render partial: 'show'%>
    <% if @report.document_url %>
      <%= render partial: 'modal' %>
      <% if params[:query_id] or params[:new_query] %>
        <div class="px-0">
          <section id="widget-grid" class="channel col-12 px-0">
            <div class="col-md-12 px-0">
              <article id="pivotTableWidth" class="w-80">
                <%= render  partial: 'pivot_table',
                            layout: 'shared/smart_widget_wrapper',
                            locals: {
                              wid_id: 'pivot_table',
                              wid_title: 'Data',
                            } %>
              </article>
            </div>
          </section>
        </div>
      <% else %>
        <div id="widget-grid">
          <section class="show_customer_account">
            <div class="row mb-5">
              <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="showReport">
                <%= render  partial: 'reports',
                            layout: 'shared/smart_widget_wrapper',
                            locals: {
                              wid_id: 'reports',
                              pivot_tables: @pivot_tables,
                              report_enum_id: @report_enum_id,
                              dashboard_enum_id: @dashboard_enum_id,
                              wid_title: "Reports"
                            } %>
              </article>
            </div>
          </section>

          <section id="widget-grid"  class="show_customer_account">
            <div class="row">
              <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="showDashboard">
                <%= render  partial: 'dashboards',
                            layout: 'shared/smart_widget_wrapper',
                            locals: {
                              wid_id: 'dashboards',
                              report_dashboard: @report_dashboard,
                              report_enum_id: @report_enum_id,
                              dashboard_enum_id: @dashboard_enum_id,
                              wid_title: "Dashboards"
                            } %>
              </article>
            </div>
          </section>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<style>
  @media print
  {
    g:first-child{fill-opacity: 0;}
    .noprint {display:none;}
  }
</style>
