<%= render partial: 'action_menu' %>
<div class="row">
  <div class="col-md-12">
    <p>
      <strong>Name:</strong>
      <%= @report.name %>
    </p>

    <p>
      <strong>Channel:</strong>
      <%= @report.channel %>
    </p>

    <p>
      <strong>Created by:</strong>
      <%= @report.created_by %> at <%= format_date_time @report.created_at %>
    </p>


    <p>
      <strong>Updated by:</strong>
      <%= @report.updated_by %> at <%= format_date_time @report.updated_at %>
    </p>


    <p>
      <strong>Description:</strong>
      <%= @report.description.to_s.html_safe %>
    </p>


    <%  if @report.document_url %>
        <p>
          <strong>Document:</strong>
          <%=link_to @report.read_attribute(:document), @report.document_url%>
        </p>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="output">

            </div>
          </div>
        </div>

        <%= stylesheet_link_tag 'c3.min' %>
        <%= stylesheet_link_tag 'pivot.min' %>
        <%= javascript_include_tag 'smart_admin/pivot' %>
        <%= javascript_include_tag 'smart_admin/d3.min' %>
        <%= javascript_include_tag 'smart_admin/jquery.ui.touch-punch.min' %>
        <%= javascript_include_tag 'smart_admin/c3.min' %>
        <%= javascript_include_tag 'smart_admin/c3_renderers.min' %>

        <script>


            $(document).ready(function(){
                $("#output").pivotUI(
                    [
                        <% tab = render_pivot_information
                        tab[1].each do |hash| %>
                        {
                            <% hash.each do |k, v| %>
                            '<%= k %>': '<%= v %>',
                            <% end %>
                        },
                        <% end %>
                    ],
                    {
                        rows: [],
                        cols: [],
                        vals: ["tip", "total_bill"],
                        aggregatorName: "Count",
                        rendererName: "Table",
                        renderers: $.extend(
                            $.pivotUtilities.renderers,
                            $.pivotUtilities.c3_renderers
                        )
                    }
                );
            });
        </script>


    <% end %>
  </div>
</div>


