<%= render partial: 'action_menu' %>
<div class="row">
  <div class="col-md-12">
    <p>
      <strong>Name:</strong>
      <%= @report.name %>
    </p>

    <p>
      <strong>Channel:</strong>
      <%= @report.channel %>
    </p>

    <p>
      <strong>Created by:</strong>
      <%= @report.created_by %> at <%= format_date_time @report.created_at %>
    </p>


    <p>
      <strong>Updated by:</strong>
      <%= @report.updated_by %> at <%= format_date_time @report.updated_at %>
    </p>


    <p>
      <strong>Description:</strong>
      <%= @report.description.to_s.html_safe %>
    </p>


    <%  if @report.document_url %>
        <p>
          <strong>Document:</strong>
          <%=link_to @report.document.read_attribute(:file), @report.document_url %>
        </p>

        <div class="row" style="overflow-x: scroll; transform: rotateX(180deg);">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="transform: rotateX(180deg);">
            <div id="output">

            </div>
          </div>
        </div>

        <%= stylesheet_link_tag 'c3.min' %>
        <%= stylesheet_link_tag 'pivot.min' %>
        <%= javascript_include_tag 'smart_admin/pivot' %>
        <%= javascript_include_tag 'smart_admin/d3.min' %>
        <%= javascript_include_tag 'smart_admin/jquery.ui.touch-punch.min' %>
        <%= javascript_include_tag 'smart_admin/c3.min' %>
        <%= javascript_include_tag 'smart_admin/c3_renderers.min' %>
        <!-- subtotal.js libs from ../dist -->
        <%= javascript_include_tag 'smart_admin/subtotal.min' %>
        <%= stylesheet_link_tag 'subtotal.min' %>

        <script>
            $(document).ready(function(){
                var dataClass = $.pivotUtilities.SubtotalPivotData;
                var renderers = $.extend(
                    $.pivotUtilities.renderers,
                    $.pivotUtilities.c3_renderers,
                    $.pivotUtilities.subtotal_renderers
                );
                <% header, tab = @report.document.content %>
                json =  [

                    <% tab.each do |hash| %>
                    {
                        <% hash.each_with_index do |(k, v), idx| %>

                        '<%= k %>': '<%= v %>',
                        <% end %>
                    },
                    <% end %>
                ]
                $("#output").pivotUI(json, {
                    dataClass: dataClass,
                    rows: [],
                    cols: [],
                    renderers: renderers,
                    aggregatorName: "Count",
                    rendererName: "Table",

                    rendererOptions: {
                        rowSubtotalDisplay: {
                            hideOnExpand: true
                        },
                        colSubtotalDisplay: {
                            hideOnExpand: true
                        }
                    }
                });

            });
        </script>

    <% end %>
  </div>
</div>


