<%= render partial: 'action_menu' %>
<div class="row">
  <div class="col-md-12">
    <p>
      <strong>Data Set:</strong>
      <%= @report.name %>
    </p>

    <p>
      <strong>Channel:</strong>
      <%= @report.channel %>
    </p>

    <p>
      <strong>Created by:</strong>
      <%= @report.created_by %> at <%= format_date_time @report.created_at %>
    </p>


    <p>
      <strong>Updated by:</strong>
      <%= @report.updated_by %> at <%= format_date_time @report.updated_at %>
    </p>


    <p>
      <strong>Description:</strong>
      <%= @report.description.to_s.html_safe %>
    </p>


    <%  if @report.document_url %>
        <% if @channel.is_creator? or @channel.my_permission.can_download? %>
            <% if File.exists?("#{Rails.root}/public#{@report.document_url}") %>
                <p>
                  <strong>Document:</strong>
                  <%= link_to @report.document.read_attribute(:file), "/uploads/#{@report.id}/#{File.basename(@report.document.file_url)}",  class: 'fa fa-fw fa-download', style: 'white-space: nowrap;' %>

                </p>
            <% else %>
                <span style="color: red;"> File do not exist on server, please re-upload it again</span>
            <% end %>
        <% end %>


        <div class="modal fade" id="mySaveModal" tabindex="-1" role="dialog" aria-labelledby="mySaveModal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Save Pivot Table changes</h4>
              </div>
              <div id="files" class="files col-xs-12" ></div>
              <div id="errors" style="color: red;" class="files col-xs-12" ></div>
              <%= form_for(SavePivotTable.new(user_id: User.current.id, report_id: @report.id), url: save_pivottable_channel_report_path(@channel, @report), method: :post, html: { class: 'form-horizontal' , method: :post}) do |f| %>
                  <div class="modal-body">
                    <fieldset>
                      <div class="form-group">
                        <%= f.label 'Name', class: 'col-md-2 control-label' %>
                        <div class="col-md-9">
                          <%= f.text_field :name , class: 'form-control' %>
                          <%= f.hidden_field :user_id  %>
                          <%= f.hidden_field :report_id  %>
                          <span style="display: none;">
                            <%= f.text_field :content  %>
                          </span>

                        </div>
                      </div>
                    </fieldset>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <%= f.submit 'Save', class: 'btn btn-primary' %>
                  </div>
                  </div>

              <% end %>
              </div>
        </div>
        <% if params[:query_id] or params[:new_query] %>
            <%= render partial: 'pivot_table' %>
            <% else %>
            <section id="widget-grid" class="show_customer_account">
              <div class="row">
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <%= render partial: 'reports',
                             layout: 'shared/smart_widget_wrapper',
                             locals: {
                                 wid_id: 'reports',
                                 wid_title: 'Reports'
                             } %>
                </article>
              </div>
            </section>

  <% end %>

    <% end %>
  </div>
</div>


