<div class="aside aside-left d-flex aside-fixed" id="kt_aside">
  <!--begin::Secondary-->
  <div class="aside-secondary d-flex flex-row-fluid">
    <!--begin::Workspace-->
    <div class="aside-workspace scroll scroll-push border-bottom" style="max-height: calc(100vh - 10rem); width: 220px; height: 200px;">
      <!--begin::Tab Content-->
      <div class="tab-content">
        <!--begin::Tab Pane-->
        <div class="tab-pane active" id="kt_aside_tab_1">
          <div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
            <div id="kt_aside_menu" class="aside-menu" data-menu-vertical="1" data-menu-scroll="1">
              <ul class="menu-nav pl-0" style="list-style-type: none;">
                <li class="menu-item menu-item-active" aria-haspopup="true" style="margin-left: 65px !important;margin-bottom: 10px !important;">
                  <div>
                    <!--begin::Logo-->
                    <%= link_to "#{image_tag( "logo.png", alt: '')}".html_safe, root_path, data: {container: 'body', toggle: 'tooltip', placement: "right"}  %>
                    <!--end::Logo-->
                    <span class="menu-text ml-3"><%= Setting['application_name'].upcase %></span>
                  </div>
                </li>
                <% if user_signed_in? %>
                  <%= render  partial: 'menu/signed_in' %>
                <% else %>
                  <%= render partial: 'menu/not_signed_in' %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <!--end::Tab Pane-->
      </div>
      <!--end::Tab Content-->
    </div>
    <!--end::Workspace-->
    <!--begin::Footer-->
    <div class="aside-footer d-flex flex-column align-items-center flex-column-auto py-4 py-lg-10" style=" position: absolute; bottom: 0px;">
      <% if user_signed_in? %>
        <a href="/users/edit" class="menu-link btn btn-clean shadow-none <%= @user ? 'active' : '' %>" data-container='body' class="menu-link" >
          <span class=" menu-icon">
            <i class="fas fa-user"></i>
          </span>
          <span class="menu-text">Profile</span>
        </a>
      <% end %>
      <a href="<%= user_signed_in? ? destroy_session_path(:user) : new_session_path(:user) %>"  id="kt_quick_user_toggle" data-toggle="tooltip" data-placement="right" class="menu-link btn btn-clean shadow-none"   data-container='body' title="<%=user_signed_in? ? 'Logout' : 'Sign In' %>">
        <span class="symbol symbol-30 symbol-lg-40">
          <span class="menu-icon">
            <% if user_signed_in? %>
              <i class="fas fa-sign-out-alt"></i>
              <span class="menu-text">Logout</span>
            <% else %>
              <i class="fas fa-sign-in-alt"></i>
            <% end %>
          </span>
          <!--<span class="symbol-label font-size-h5 font-weight-bold">S</span>-->
        </span>
      </a>
      <!--end::User-->
    </div>
    <!--end::Footer-->
  </div>
  <!--end::Secondary-->
</div>
